/* CSS Reset */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://uploads-ssl.webflow.com/60edc0a8835d5b38bf11f03f/61cf04ea45898934315251e5_Inventory-management-system-objectives.png');
    line-height: 1.6;
    color: #333;
}

/* Header Styles */
header {
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

/* Main Content Styles */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #f2f8ff !important;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    color: #555;
}

/* Footer Styles */
footer {
    background: linear-gradient(to right, #fc4a1a, #f7b733);
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
