body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://www.cockroachlabs.com/img/retail-blog-header-13.png");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.signin-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.signup-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}